<!DOCTYPE html>
<html lang="FR">
    <head>
        <%-include('../partials/head.ejs')%>
    </head>
    <body>
        <%-include('../partials/header.ejs')%>
        <div class="jumbotron jumbotron-fluid">
            <h2 class="text-center">Mois et année</h2>
            <p class="text-center"><%=mois%> <%=annee%></p> 
        </div>
        <%-include('../partials/footer.ejs')%>
    </body>
</html>