<!DOCTYPE html>
<html lang="FR">
    <head>
        <%-include('../partials/head.ejs')%>
    </head>
    <body class="pt-0 pb-0">
        <%-include('../partials/header.ejs')%>
        <div class="jumbotron jumbotron-fluid">
            <h2 class="text-center">Mois et Année</h2>
            <p class="text-center"><%=mois%>/<%=annee%></p> 
        </div>
        <%-include('../partials/footer.ejs')%>
    </body>
</html>